{% extends 'base.html' %}
{% block content %}
<h2>Zakupy (Magazyn)</h2>

{% for s in sales %}
<div class="receipt">
  <p><b>Data:</b> {{ s.date }}</p>
  <ul>
    {% for it in s["items"] %}
      <li>
        {{ it.name }} x{{ it.quantity }} ({{ it.price }} $/szt.)
        {% if it.type == "order" %} - do realizacji{% endif %}
      </li>
    {% endfor %}
  </ul>
  <p><b>Suma paragonu:</b> {{ s.total }} $</p>

  <form action="{{ url_for('delete_zakup', index=loop.index0) }}" method="post" style="display:inline;">
    <button type="submit">Usuń ❌</button>
  </form>
</div>
{% endfor %}
{% endblock %}
